@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: gray; /*Para não dar dor de cabeça*/
}

main{
    margin-top: 67px;
    padding: 0 25px;
}

main button{
    display: block;
}