.data{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 120px;
}

.data h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.data p{
    font-size: 22px;
}

.sucess button{
    margin: 0 auto;
}