input{
    width: 100%;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    outline: none;
    padding: 16px;
    font-size: 18px;
}

input::placeholder{
    
    font-style: italic;
    color: #AFAFAF;
}